inputStyle{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
}
buttonStyle{
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #646cff;
    color: white;
    font-size: 16px;
    padding: 0 20px;
    cursor: pointer;
}
buttonStyle:hover{
    background-color: #545edc;
}
buttonStyle:active{
    background-color: #4349b3;
}