

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(30, 0, 60, 0.7), rgba(30, 0, 60, 0.7)), url('/Jammming/background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0 5% 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;

}

h1 {
  margin-top: 48px;
  margin-bottom: 12px;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.3rem;
  color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.15);
  padding: 1rem 0;
  width: 90%;
  max-width: 600px;
}

h1 .highlight {
  color: #6c41ec;
}

.search-bar-container {
  width: 200px;
  margin: 0 auto 32px auto;
  display: flex;
  justify-content: flex-end;
  background: rgba(30,0,60,0.7);
  border-radius: 12px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
  padding: 16px 0;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  margin-top: 0;
}

.App-playlist {
  display: flex;
  justify-content: flex-start;
  gap: 48px;
  width: 100%;
  margin-top: 24px;
}

.App-playlist > div {
  min-width: 350px;
  max-width: 400px;
  flex: 1;
  background: rgba(60,0,100,0.90);
  border-radius: 16px;
  padding: 32px 24px 24px 24px;
  margin: 0 10px;
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.15);
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  .App-playlist > div {
    margin: 0;
  }
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main{
  background-color: purple;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
};
